#fillR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #fillR:focus{
outline: none;
} 
#fillG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #fillG:focus{
outline: none;
} 
#fillB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #fillB:focus{
outline: none;
} 
#borderR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #borderR:focus{
outline: none;
} 
#borderG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #borderG:focus{
outline: none;
} 
#borderB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #borderb:focus{
outline: none;
} 
#backR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #backR:focus{
outline: none;
} 
#backG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #backG:focus{
outline: none;
} 
#backB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #backB:focus{
outline: none;
} 
#textB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #textB:focus{
outline: none;
} 
#textG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #textG:focus{
outline: none;
} 
#textR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #textR:focus{
outline: none;
} 